body,
html {
    height: 100%;
    margin: 0;
    background-image: url(ima/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;

}



#gatocarro {
    width: 11vw;
}

#p1 {
    position: relative;
    margin-top: 10%;
    margin-left: 90vw
}

#animal1 {
    position: absolute;
    height: 6vh;
}

#animal2 {
    position: absolute;
    height: 8vh;
    margin-top: -2vh;
    margin-left: 2.5vw;
}

#animal3 {
    position: absolute;
    height: 8vh;
    margin-top: -2vh;
}

#animal4 {
    position: absolute;
    height: 5.5vh;
    margin-left: 2.8vw;
}

#animal5 {
    margin-top: 2vh;
    position: absolute;
    height: 6vh;
}

#animal6 {
    position: absolute;
    margin-top: 2.4vh;
    height: 5.3vh;
    margin-left: 2.8vw;
}

.word {
    position: absolute;
}


.modal-content {
    background-color: rgb(205, 247, 246);
}



#p2 {
    margin-top: 13%;
    margin-left: 90vw
}

#p3 {
    margin-top: 13%;
    margin-left: 90vw
}

#cube {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    /* Añade el puntero de clic */
}

#cube1 {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    /* Añade el puntero de clic */
}

#cube2 {
    position: absolute;
    top: 80%;
    left: 0;
    transform: translateY(-50%);
    cursor: pointer;
    /* Añade el puntero de clic */
}

.move {
    animation: moveCube 5s linear forwards;
}

/* Animación para mover el cubo de izquierda a derecha */
@keyframes moveCube {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
        transform: translate(-100%, -50%);
    }
}